<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
</head>
<body> 
    <a type="button" class="btn btn-success" href="/agregar">
        agregar
    </a>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <% publicaciones.forEach((publicacion) => { %>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <%= publicacion.titulo %>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <img src="<%=publicacion.imagen%>" alt="..." style="width: 10%;">
                        <p style="display: inline-block;">
                            <%= publicacion.descripcion %>
                        </p>
                        <p><%= publicacion.fecha %></p>
                        <!--<p><%= publicacion.created_at %></p>-->
                        <a type="button" class="btn btn-warning" href="/editar/<%=publicacion.id%>">
                            editar
                        </a>
                        <a type="button" class="btn btn-danger" href="/eliminar/<%=publicacion.id%>">
                            eliminar
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>